.corpo {
  transition: background-color .8s;
  background-color: #f2c849 ;
  cursor: ;
  overflow: overlay;
  font-family: monospace;
  margin: 0px;
  overflow-x: hidden;
  background-image: url();
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url(cursor.png) ;
  background-image: url(./LOGIN.jpg);
  
}
.imgfund{
  filter: blur();
}
.header:hover {
  
}


.corpo::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.corpo::-webkit-scrollbar-track {
  display: none;
}

.corpo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(255, 255, 255) ;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #f2c849;
}


 .header {
  width: 100%;
  height: 100px;
  align-items: center;
  box-shadow: 0px 5px 5px black;
  z-index: 1;
  background-color: #DAA520;
}

.logo_header {
  height: 70px;
  width: 235px;
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.header .container {
  height: 100%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.navbar { 
  margin-top: 14px;
  width: 500px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif
}
 
a:link {
  color: #f2c849;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #f2c849;
  background-color: transparent;
  text-decoration: none;
}

.link_a:link {
  color: #f2c849;
  background-color: transparent;
  text-decoration: none;
 }

/*banner*/

.banner .container .card {
  background-color: white;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin-left: 35%;
  margin-top: 5%
}
.galinha {
  width: 200px;
  height: 200px;
}
.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #f2c849;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


footer{
  position: ;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(156, 156, 156) ;
  height: auto;
  width: 100vw;
  padding-top: 15px;
  margin-top: 90px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;

}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content > h1{
  font-size: 28px;
  font-weight: 400x   ;
  text-transform: capitalize;
  line-height: 2rem;

}

.footer-content > p{
  
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociais{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 20px 0;
}

.sociais > li{
  margin: 0px 10px;
}

.sociais > a{
  text-decoration: none;
  color:white
}

.sociais a i {
  font-size: 18px;
  transition: color .4s ease;
}

.sociais a:hover i{
  color:#ffffff;
}

.footer-bottom{
  background: #f2c849;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}